@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Poppins&display=swap');

/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.responsive {
  width: 100%;
  height: auto;
}

.navbar-transparent {
  background-color: transparent !important;
}

.navbar-brand-color {
  color: #fff !important;
}

.navbar-brand img {
  fill: #ffffff; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: #fff; */
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../images/parkinglot.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

  /* review page style; */
.container-review{
  justify-content: center;
  align-items: center;
  width: 600px;
  background: transparent;
  border: 2px solid rgba(2, 2, 2, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 50px 40px;
}

  /* index page style; */
.container-text-center{
  justify-content: center;
  align-items: center;
  width: 600px;
  background: transparent;
  border: 2px solid rgba(2, 2, 2, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 50px 40px;
}

.container-text-center img{
  width: 100%;
  height: auto;
}


.container-login{
  justify-content: center;
  align-items: center;
  width: 600px;
  background: transparent;
  border: 2px solid rgba(2, 2, 2, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 50px 40px;
}